<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780028703940-q7h5i4fcqtiqme0ev45275achk77fisa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780028703940-q7h5i4fcqtiqme0ev45275achk77fisa</string>
	<key>API_KEY</key>
	<string>AIzaSyAU0rRmBwUFle9bjkxOonP8ofPkOcMmDpA</string>
	<key>GCM_SENDER_ID</key>
	<string>780028703940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devsincFlash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios-499c6</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios-499c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780028703940:ios:1a459dd9ef16c414428591</string>
</dict>
</plist>